\.DS_Store
.nfs*

# WMT news translation task parallel corpora: https://www.statmt.org/wmt18/translation-task.html
# Comon Crawl corpus, Europarl v7, News Commentary v13, Rapid corpus of EU press releases (all DE-EN)
data/wmt_parallel_data/
data/wmt18_translation_task_preprocessed/

# official parallel corpus filtering shared task raw corpus (no URLs): http://www.statmt.org/wmt18/parallel-corpus-filtering.html
data/official_shared_task_data

# ready-to-use language packages (bicleaner-v1.1): https://github.com/bitextor/bitextor-data/releases/tag/bicleaner-v1.1
data/language_packs

# bicleaner-hardrules and bicleaner-classify ouput files
classification/output/
hardrules/output/

# output of subsampling script
subsampling/output/*.en
subsampling/output/*.de

# model and data files of training and validation process
dev-tools/*/*/*/*[.de, .en, .bpe, .npz]
experiments/*/*/*[.de, .en, .bpe, .npz]

# model and data files of the mt models that will be used in the corpus filtering process
models/translation/data
models/translation/models/*/data
models/translation/models/*/model/*[.npz, .bpe, .de, .en]

# the results directory which contains local back-ups of relevant model and data files of training experiments
results/
